.page-buttons{
    padding: 9.5px;
    background-color: rgb(198, 201, 202);
    border-width: 1.65px;
    border-radius: 9%;
    margin-left: 5px;
}
.container{
    display: flex; /* flex-direction: row; */ 
}


a{
    vertical-align: top;
    padding: 1.9px ; 
    color: rgb(23, 23, 122);
}
a:hover{
    background-color: rgb(198, 201, 202);
}
.link-container{
    padding: 6px 16px;
}


/* 'Stretch' button */
.stretch-button{
    background-color: green;
    color: white;
    border-style: none;
    padding: 7px 15px;
    transition: 1s;
    font-size: 16px;
    
    
}
.stretch-button:hover{
    padding: 14px 30px;
    font-size: 27px;
    cursor: pointer;
}


/* 'Three D' button*/
.Three-D-button {
    background-color: green;
    color: white;
    border-style: none;
    padding: 7px 16px;
    box-shadow: 2px 5px 10px rgb(130, 128, 128);
    margin: 2px 10px;
    font-size: 17px;
    cursor: pointer;
}
.Three-D-button:active{
    box-shadow: 0 0 0 0;
    margin: 4px 12px;
}



/* The 'One, Two, Three' buttons*/
.three-buttons {
    background-color: green;
    color: white;
    border: none;

    font-size: 18px;
    padding: 8px 15px;
    margin-left: 10px;
    margin-right: 10px;

    cursor: pointer;
    transition: padding 0.15s,
      margin 0.15s;
  }

  .three-buttons:hover {
    padding: 8px 25px;
    margin-left: 0px;
    margin-right: 0px;
  }

