
button 
{
    margin: 5px 0px 5px 5px;
    cursor: pointer;
    transition:color 0.45s, background-color 0.45s;
}

.Uber{

    background-color: rgba(0, 0, 0, 0.955);
    color: antiquewhite;
    height: 39px;
    width: 119px;
    border-style: none;
    
    
}

.Amazon{

    background-color: rgb(255, 216, 20);
    border-style: none;
    height: 34px;
    width: 190px;
    border-radius: 17px; 
    vertical-align: top; 
}
.Amazon:hover{
  box-shadow: 10px 1.5px 20px rgba(0, 0, 0, 0.15);
}
.Amazon:active{
    background-color: rgb(245, 182, 45);
}


.GitHub{

    background-color: rgb(46, 164, 79);
    color: aliceblue;
    border-style: none;
    height: 37px;
    width: 85px;
    border-radius: 5px;
    font-weight: bold;
}
.GitHub:active{
  box-sizing: border-box 5px ;
}

.Bootstrap{

    height: 37px;
    width: 119px;
    border-radius: 5px;
    font-size: 13px;   
}

#Bootstrap-1{

    background-color: rgb(121, 82, 179);
    color: antiquewhite;
    border-style: none;
}

#Bootstrap-2{

    color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);
    border-style:solid;
    border-width: 1px;
}
#Bootstrap-2:hover{
  box-shadow: 0px 0px 10px rgba(45, 43, 43, 0.896);
}

.LinkedIn{   
    padding: 10.9px 17px;
    border-radius: 17px;
    font-weight: bold;
    margin: 15px 3px;
    vertical-align: top;
}


#LinkedIn-1{

    background-color: rgb(10, 114, 219);
    color: antiquewhite;
    border-style: none;
}
#Linkedin-1:hover{
    background-color: rgb(22, 92, 161); 
}

#LinkedIn-2{
    color: rgb(10, 102, 194);
    border-color: rgb(10, 102, 194);
    border-style: solid;
    border-width: 1px;
}
#Linkedin-2:hover{
    background-color: rgb(10, 114, 219);
    color: white;
    
}

hr:hover{
  box-shadow: 1px 0.2px 10px;
}
a:active{
    text-decoration: none;
    color: orangered;
}


