.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    height: 50px;
    padding: 0px 16px;
    margin: 0px;
}

.header-left {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    width: 169px;
    height: 40px;
}

.hamburger-menu {
    height: 24px;
    width: 24px;
    padding: 8px;
    padding-left: 16px;
}

.youtube-logo {
    height: 20px;
    width: 93px;
    margin: 18px 14px 18px 16px;
}

.header-middle {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 40px;
    max-width: 648px;
    min-width: 164.8px;
    height: 40px;
}

/* *************************************************** */
.search-bar-container {
    all: unset;
    min-width: 0px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: start;
    height: 38.2px;
    margin-left: 32px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-width: 0.8px;
    box-shadow: inset -1px 1px 2px 1px rgba(0, 0, 0, 0.08);
    border-right: none;
}

.search-bar-container:focus-within {
    border-style: solid;
    border-width: 0.8px;
    border-color: rgb(64, 97, 218);
    box-shadow: inset -1px 1px 2px 1px rgba(0, 0, 0, 0.08);
}

.search-bar:focus {
    outline: none;
    border-style: none;
    height: 32px;
}

.search-bar-container:focus-within .left-search-image {
    width: 18px;
    height: 18px;
    margin-left: 16px;
    opacity: 1;
}

.search-bar {
    min-width: 0px;
    display: flex;
    flex: 1;
    height: 36px;
    font-size: 16.5px;
    padding: 0px 4px 0px 16px;
    border: none;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.left-search-image {
    height: 0px;
    width: 0px;
    opacity: 0;
}
/* ********************************************* */

.search-button {
    height: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-width: 0.8px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    padding: 5px 6px 1px 15px;
    background-color: rgb(248, 248, 248);
}

.search-button img {
    height: 24px;
    min-width: 24px;
    margin-right: 10px;
}

.voice-search-button {
    padding: 8px;
    height: 40px;
    min-width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(240, 240, 240);
    margin-left: 16px;
}

.voice-search-image {
    border-radius: 20px;
}

.header-right {
    width: 213.17px;
    height: 40px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

.create-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    width: 97.17px;
    height: 36px;
    border: none;
    ;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
}

.plus-icon {
    height: 26px;
    width: 26px;
    padding: 5px 0px;
    margin-right: 4px;
}

.create-text {
    font-weight: 500;
    padding-right: 4px;
}

.bell-button {
    height: 40px;
    width: 40px;
    padding-top: 3.1px;
    border: none;
    background-color: white;
}

.bell-image {
    height: 24px;
    width: 24px;
    padding-top: 4px;
}

.channel-button {
    height: 34px;
    width: 60px;
    border: none;
    background-color: white;
}

.channel-image {
    height: 32px;
    width: 32px;
    border-radius: 16px;
}