.header {
    width: 1362.89px;
    display: flex;
    justify-content:space-between;
    height: 56px;
    padding: 0px 16px;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 169px;
}

.hamburger-menu {
    height: 24px;
    width: 24px;
    padding: 8px;
    padding-left: 16px;
}

.youtube-logo {
    height: 20px;
    width: 93px;
    margin: 18px 14px 18px 16px;
}

.header-middle {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 648px;
}

.search-bar {
    flex: 1;
    height: 38.2px;
    padding: 0px 4px 0px 16px;
    border-width: 0.8px;
    margin-left: 32px;
    border-style: solid;
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.08);   
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-color: rgb(204, 204, 204);
}

/* .search-bar :active {
} */

.search-bar input {
    height: 24px;
}

.search-button { 
    width: 64px;
    height: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-width: 0.8px;
    border-style: solid; 
    border-color: rgb(204, 204, 204);
    padding: 5px 6px 1px 15px;
    margin-left: -1px;
    background-color: rgb(248, 248, 248);
}
.search-button img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.voice-search-button {
    padding: 8px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(240, 240, 240);
    margin-left: 20px;
}

.voice-search-image {
    border-radius: 20px;
}

.header-right {
    max-width: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
}

.create-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    width: 97.17px;
    height: 36px;
    border: none;;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
}
.plus-icon {
    height: 26px;
    width: 26px;
    padding: 5px 0px;
    margin-right: 4px;
}

.create-text {
    font-weight: 500;
    padding-right: 4px;
}

.bell-button {
    height: 40px;
    width: 40px;
    padding-top: 3.1px;
    border: none;
    margin-left: 7px;
    margin-right: 8px;
    background-color: white;
}

.bell-image {
    height: 24px;
    width: 24px;
    padding-top: 4px;
}

.channel-button {
    height: 40px;
    width: 60px;
    padding: 4.87px 6px 1px 6px;
    border: none; 
    background-color: white;
}

.channel-image {
    height: 32px;
    width: 32px;
    border-radius: 16px;
}