 .ultimate-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 30px;
    
}

.thumbnail-container {
    position: relative;

}

.thumbnail {
    width: 100%;
    min-width: 276.5px;
    height: 222.14px;
    border-radius: 15px;
    margin-bottom: 6px;
}

.timer {
    display: flex;
    position: absolute;
    bottom: 18.5px;
    right: 8.5px;
    border-radius: 5px;
    background-color: rgba(19, 19, 19, 0.7);
}

.timer p {
    font-size: 13px;
    color: white;
    margin: 0px;
    padding: 3px 5px;
    font-weight: 500;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 45px 1fr 11px;
    column-gap: 5px;
}

.channel-profile img {
    width: 36px;
    border-radius: 24px
}

.video-info {
    color: rgb(108, 107, 107);
}

.video-title {
    color: black;
    display: inline-block;
    margin-top: 4.5px;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 16px;
}

.video-author,
.video-stats {
    display: flex;
    align-items: center;
    margin-top: 2.3px;
    margin-bottom: 0px;
    font-size: 16px;
}

.verified-image {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.tricolon p{
    font-size: 24px;
    font-weight: 400;
    color: black;
    margin-top: 1px;
}
