.ultimate-grid {
    margin: 8px;
    margin-left: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 17px;
    row-gap: 12px;
}

.thumbnail-container img {
    width: 100%;
    min-width: 276.5px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 6px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 45px 1fr 11px;
    column-gap: 5px;
}

.channel-profile img {
    width: 100%;
    border-radius: 24px
}
.video-info {
    color: rgb(108, 107, 107);
}
.video-title {
    color: black;
    display: inline-block;
    margin-top: 4.5px;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 18px;
}
.video-author,
.video-stats {
    margin-top: 2.3px;
    margin-bottom: 0px;
    font-size: 16px;
}

.tricolon p{
    font-size: 24px;
    font-weight: 400;
    color: black;
    margin-top: 1px;
}